@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --text: #160a0a;
--background: #fefbfb;
--primary: #d53c39;
--secondary: #f08685;
--accent: #f84f4c;

}
:root{
    --text-50: #f7eded;
--text-100: #efdcdc;
--text-200: #dfb9b9;
--text-300: #d09595;
--text-400: #c07272;
--text-500: #b04f4f;
--text-600: #8d3f3f;
--text-700: #6a2f2f;
--text-800: #462020;
--text-900: #231010;
--text-950: #120808;

--background-50: #faebeb;
--background-100: #f5d6d6;
--background-200: #ebadad;
--background-300: #e08585;
--background-400: #d65c5c;
--background-500: #cc3333;
--background-600: #a32929;
--background-700: #7a1f1f;
--background-800: #521414;
--background-900: #290a0a;
--background-950: #140505;

--primary-50: #fbeaea;
--primary-100: #f6d5d5;
--primary-200: #edacab;
--primary-300: #e48281;
--primary-400: #db5957;
--primary-500: #d22f2d;
--primary-600: #a82624;
--primary-700: #7e1c1b;
--primary-800: #541312;
--primary-900: #2a0909;
--primary-950: #150504;

--secondary-50: #fce9e8;
--secondary-100: #f9d2d2;
--secondary-200: #f4a6a4;
--secondary-300: #ee7977;
--secondary-400: #e94c49;
--secondary-500: #e31f1c;
--secondary-600: #b61916;
--secondary-700: #881311;
--secondary-800: #5b0d0b;
--secondary-900: #2d0606;
--secondary-950: #170303;

--accent-50: #fee7e7;
--accent-100: #fdcfce;
--accent-200: #fb9f9d;
--accent-300: #f96e6c;
--accent-400: #f73e3b;
--accent-500: #f50e0a;
--accent-600: #c40b08;
--accent-700: #930806;
--accent-800: #620604;
--accent-900: #310302;
--accent-950: #180101;


}
h1, h2, h3, h4, h5, h6{
    font-family: "Space Grotesk";
}
p{
    font-family: "Exo 2";
}
body{
    font-family: "Poppins";
}