{% extends "base.html" %}
{% load account %}

{% block content %}
<div class="min-w-screen min-h-screen bg-[var(--background-100)] flex items-center justify-center px-5 py-5">
  <div class="bg-[#ffffff26] md:bg-[var(--secondary-200)] text-[var(--text)] rounded-3xl shadow-xl w-full max-w-md p-8">
    <div class="text-center mb-8">
      <h1 class="font-bold text-3xl">Password Reset</h1>
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
    </div>

    <p class="text-[var(--text)]">
      We have sent you an email. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.
    </p>
  </div>
</div>
{% endblock %}
