{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-8 mt-20">
    <h1 class="text-[var(--text-950)] text-4xl font-bold mb-8">Privacy Policy</h1>

    <div class="bg-[var(--secondary)] shadow-md rounded-lg mb-8 p-6">
        <p class="text-[var(--text-700)]">Your privacy is important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our services.</p>
    </div>

    <h2 class="text-[var(--text-900)] text-3xl font-bold mb-8">Information We Collect</h2>
    <div class="bg-[var(--secondary)] shadow-md rounded-lg mb-8 p-6">
        <p class="text-[var(--text-700)]">We may collect personal information that you provide directly to us when using our site. This information may include your name, email address, and any other information you provide to us.</p>
    </div>

    <h2 class="text-[var(--text-900)] text-3xl font-bold mb-8">How We Use Your Information</h2>
    <div class="bg-[var(--secondary)] shadow-md rounded-lg mb-8 p-6">
        <p class="text-[var(--text-700)]">We may use the information you provide to us to operate, maintain, and improve our services. Your information may also be used to send you newsletters, updates, or other communications related to our services.</p>
    </div>

    <h2 class="text-[var(--text-900)] text-3xl font-bold mb-8">Disclosure of Your Information</h2>
    <div class="bg-[var(--secondary)] shadow-md rounded-lg mb-8 p-6">
        <p class="text-[var(--text-700)]">We may share your information with third parties who assist us in providing and improving our services. We do not sell your personal information to third parties.</p>
    </div>

    <h2 class="text-[var(--text-900)] text-3xl font-bold mb-8">Security</h2>
    <div class="bg-[var(--secondary)] shadow-md rounded-lg mb-8 p-6">
        <p class="text-[var(--text-700)]">We take reasonable measures to protect your personal information from unauthorized access or disclosure.</p>
    </div>

    <h2 class="text-[var(--text-900)] text-3xl font-bold mb-8">Changes to this Privacy Policy</h2>
    <div class="bg-[var(--secondary)] shadow-md rounded-lg mb-8 p-6">
        <p class="text-[var(--text-700)]">We may update this Privacy Policy from time to time. You are advised to review this Privacy Policy periodically for any changes.</p>
    </div>

    <h2 class="text-[var(--text-900)] text-3xl font-bold mb-8">Contact Us</h2>
    <div class="bg-[var(--secondary)] shadow-md rounded-lg mb-8 p-6">
        <p class="text-[var(--text-700)]">If you have any questions about this Privacy Policy, please contact us at <a href="mailto:privacy@xtraroms.com" class="text-[var(--primary-700)] hover:text-[var(--accent-800)]">privacy@xtraroms.com</a>.</p>
    </div>
</div>
{% endblock content %}
