{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    ::-webkit-scrollbar {
        width: 0;
    }
</style>
{% endblock css %}
{% block content %}

<section class="flex flex-col lg:flex-row w-screen lg:h-[86vh] gap-4 mb-5">
    <div class="left hidden lg:block lg:sticky lg:basis-1/4 bg-[var(--secondary)] backdrop-blur-sm rounded-2xl ms-4">
        <div> 
          <div class="p-2 border-b-2 border-[var(--accent)] text-[var(--text)]">
            <h3>Suggested ROMs:</h3>
          </div>
            <ul class="p-5 h-[90vh] md:h-[80vh] overflow-y-auto">
              {% for roms in suggested_roms %}
              <a href="{% url 'rom_details' roms.slug %}">
                <li class="flex justify-between items-center gap-4 p-4 shadow-md">
                  <div class="flex flex-col ">
                  <h3 class="text-md">{{roms.name}} (A{{roms.android}})</h3>
                  <p class="text-sm">
                    {% for device in rom.device.all %}
                        {{ device.name }} [{{ device.codename }}]{% if not forloop.last %} <br> {% endif %}
                    {% endfor %}
                </p>
              </div>
                  <div class=""><i class="fa-solid fa-arrow-right"></i></div>
                </li></a>
              {% endfor %}
            </ul>
        </div>
    </div>
    <div class="center lg:basis-1/2 bg-[#36ae9040] flex flex-col mx-4 lg:mx-0 items-center h-[40vh] md:h-[90vh] lg:h-full overflow-y-scroll rounded-2xl">
        <div class="px-10 py-5">
            <img src="{{rom.image.url}}" alt="{{rom.name}}" class="rounded-2xl h-auto w-auto object-center lg:h-64 lg:w-auto object-cover">
        </div>
        <div class="py-5 px-5 text-center">
            <h2 class="text-2xl lg:text-3xl"><span class="text-rose-600">{{rom.name}}</span><br> Based On <span
                    class="text-purple-500">Android {{rom.android}}</span></h2>
                    <p class="text-sm font-semibold tracking-wider pt-2">[ Credits: {{rom.credits}} ]</p>
        </div>
        <div class="pb-5">
            <h3 class="text-xl">
              {% for device in rom.device.all %}
                  {{ device.name }} [{{ device.codename }}]{% if not forloop.last %} <br> {% endif %}
              {% endfor %}
          </h3>
        </div>
        <div class="flex">
            <a href="{{rom.link}}"
                class="text-[var(--text)] backdrop-blur-sm bg-[#36ae9060] hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 shadow-lg shadow-[var(--primary-400)]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">
                <i class="fa-solid fa-arrow-down me-1"></i>ROM
            </a>
            {% if request.user.userprofile.is_authorized %}
            <a href="{% url 'edit_rom' rom.slug %}"
                class="text-[var(--text)] backdrop-blur-sm bg-[#36ae9060] hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 shadow-lg shadow-[var(--primary-400)]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">
                <i class="fa-solid fa-pen-to-square me-1"></i>Edit
            </a>
            {% endif %}
            <a onclick="shareLink('{{rom.name}}', '{{rom.slug}}')" href=""
                class="text-[var(--text)] backdrop-blur-sm bg-[#36ae9060] hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 shadow-lg shadow-[var(--primary-400)]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">
                <i class="fa-solid fa-share-from-square me-1"></i>Share
            </a>
        </div>
        <div class="py-5 px-5 text-start">
            {{ formatted_details|safe }}
        </div>
    </div>
    <div class="right lg:basis-1/4 bg-[#36ae9040] rounded-2xl mx-4 lg:mx-0 lg:me-4 overflow-y-scroll">
        <div class="comments flex flex-col">
            <div
              class="text-black rounded-lg flex flex-col h-full lg:relative">
              <div class="p-2 border-b-2 border-[var(--accent)] text-[var(--text)]">
                <h3>Comments: {% if not request.user.is_authenticated %}(Login to Comment) {% endif %}</h3>
              </div>
              <div class="relative h-[30vh] md:h-[80vh] overflow-y-auto">
              <div class="px-2 font-light">
                {% for comment in comments %}
                <div class="rounded-lg bg-sky-200 border-b border-[var(--accent)] mt-2 p-2">
                  <div class="flex justify-between border-b border-[var(--accent)] pb-1">
                    <div class="flex flex-row items-center gap-2">
                      <img src="{{comment.user.userprofile.profile_picture.url}}" alt=""
                        class="rounded-full h-6 w-6 object-cover">
                      <p class="font-light text-sm">{{ comment.user.username }}</p>
                    </div>
                    <div>
                      <small>{{ comment.created_at }}</small>
                    </div>
                  </div>
                  <p class="p-2 font-light text-sm">{{ comment.text }}</p>
                </div>
                {% endfor %}
              </div>
              {% if request.user.is_authenticated %}
              <div class="absolute bottom-0 p-2 w-full bg-sky-200">
                <form method="post" class="flex gap-2">
                  {% csrf_token %}
                  <input type="text" name="text" id=""
                    class="w-full p-4 ps-10 text-sm text-black placeholder-gray-700 border-2 border-sky-500 rounded-lg bg-sky-200"
                    placeholder="Kindly give your views"
                    required="true"
                    autocomplete="off">
                  <button type="submit" class="bg-sky-200 rounded-lg p-2 w-20 border-2 border-sky-500"><i
                      class="fa-solid fa-paper-plane"></i></button>
                </form>
              </div>
              {% endif %}
            </div>
            </div>
          </div>
    </div>
</section>
{% endblock content %}


{% block script %}
  <script>
    function shareLink(name, slug) {
      if (navigator.share) {
        // Web Share API is supported
        navigator.share({
          title: name,
          text: 'Check out this link from XtraROMs!',
          url: `/rom_detail/${slug}`
        })
          .then(() => console.log('Successful share'))
          .catch((error) => console.log('Error sharing:', error));
      } else {
        // Fallback for browsers that do not support Web Share API
        const shareInput = document.createElement('input');
        document.body.appendChild(shareInput);
        shareInput.value = `/rom_detail/${slug}`;
        shareInput.select();
        document.execCommand('copy');
        document.body.removeChild(shareInput);
  
        alert('Link copied to clipboard!');
      }
    }
  </script>
{% endblock script %}
  