{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
    h2 {
        font-family: "Karla";
    }

    /* Custom scrollbar */
    article ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    article ::-webkit-scrollbar-track {
        background: var(--primary);
        border-radius: 10px;
        /* Light grey */
    }

    /* Handle */
    article ::-webkit-scrollbar-thumb {
        background: var(--secondary-600);
        border-radius: 10px;
        /* Grey */
    }

    /* Handle on hover */
    article ::-webkit-scrollbar-thumb:hover {
        background: var(--accent);
        /* Dark grey */
    }

</style>
{% endblock css %}


{% block content %}

<section class="container mx-auto px-10 h-screen md:mt-20">
    <div class="flex flex-col justify-center">
        <div class="flex flex-row justify-center items-center">
            <div class="">
                <h2 class="text-3xl lg:text-4xl tracking-tight font-bold text-[var(--text)] underline decoration-[var(--accent-500)] underline-offset-4">XtraKnowledge
                </h2>
            </div>
        </div>
        <div class="flex flex-col md:flex-row gap-8 md:flex-wrap justify-center">
            {% for blog in blogs %}
            <article
                class="p-6 bg-[var(--secondary)] backdrop-blur-sm rounded-lg border border-[var(--accent)] shadow-md md:max-w-[35rem] my-10">
                <div class="flex justify-between items-center mb-5 text-gray-500">
                    <span
                        class="bg-primary-100 text-[var(--text-700)] text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded">
                        <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z">
                            </path>
                        </svg>
                        <span class="capitalize">{{blog.tag}}</span>
                    </span>
                    <span class="text-sm text-[var(--text-700)]">{{blog.date}}</span>
                </div>
                <div class="overflow-y-auto">
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-[var(--text)]">{{blog.title}}
                    </h2>
                    <div class="mb-5 text-[var(--text-800)] line-clamp-3">{{blog.description|safe}}</div>
                </div>
                <div class="flex justify-between items-center">
                    <div class="flex items-center space-x-4">
                        <img class="w-7 h-7 rounded-full"
                            src="{{blog.written_by.userprofile.profile_picture.url}}"
                            alt="Jese Leos avatar" />
                        <span class="font-medium text-[var(--text)]">
                            {{blog.written_by}}
                        </span>
                    </div>
                    <a href="{% url 'details' blog.slug %}"
                        class="inline-flex items-center font-medium text-[var(--text-700)] hover:text-[var(--accent-800)]">
                        Read more
                        <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'upload_blog.html' %}

{% endblock content %}